<a href="https://colab.research.google.com/github/ally-jin/quiz_7/blob/main/Tonno_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 1
Complete the exercises working in your group. You may share the notebook with your group members using the share button in the upper right. Be careful with this feature. Although similar to Google Docs in functionality, you will notice that if two people are working on the same cell at the same time, then you may lose your work in that cell.

## Question 1
Introduce yourself and your group members, using multiple markdown features such as embedded pictures, links to your linkedin or webpage, sections and subsections, and more.

### Member Introduction 
> Name 

> Year 

> Major 

> Website (If applicable)

###Member 1: Mina Lee

> Year: Senior

> Major: Applied Mathematics and Statistics & Chinese

> ([Mina's LinkedIn](https://www.linkedin.com/in/mina-lee-4755141a2/))

###Member 2: Elizabeth Park
> Year: Senior

> Major: Quantitative Sciences
 

###Member 3: Hassan Kenawi
> Year: Senior

> Major: Economics and Quantitative Sciences

> [Hassan's LinkedIn](https://www.linkedin.com/in/hassan-kenawi-390541127/)
<br/>
        
          
###Member 4: Denny Kim,
> Year: Senior

> Major: Quantitative Sciences

> ([Denny's Linkedin] (https://www.linkedin.com/in/dennykim77/))

###Memeber 5: Ally Jin
> Year: Junior

> Major: Biology and Quantitative Sciences (Economics)

## Question 2
What is the smallest positive integer $x$ for which NumPy fails to compute 
$$ \log(e^x)= x$$

Explain in your own words, using links and citations if needed, why this happens.

###Question 2 Answer

In [ ]:
import numpy as np

In [ ]:
#try with the smallest positive integer
np.log((np.e)**1)

In [ ]:
np.log((np.e)**2)

In [ ]:
# fails at 710
np.log((np.e)**710)

In [ ]:
#Continuosly fails
np.log((np.e)**711)

In [ ]:
np.log((np.e)**712)

In [ ]:
#Check if there are any positivie integer (less than 710) that would fail the equation
i=1
while i<710:
  np.log((np.e)**i)
  i += 1
else:
  print ("the smallest positive integer to fail is not less than 710")

As shown from above, numpy can compute 
$$
log(e^x)=x
$$ 
for x= [1,709)
 
The smallest integer to fail the quation is 710.

As 710 is the first integer to show the error of OverflowError: (34, 'Numerical result out of range'). 

<br/>

This happens because there is no more space for an extra binary digit(?)

In [ ]:
x=(709)
print(type(np.log(np.e**x)))

In [ ]:
x=(710)
print(type(np.log(np.e**x)))

As above, as the equation works with floating-point values, the number input is out of range starting from integer x=710 for floating64.

## Question 3
Recall in notebook 1, an exercise posed the following question.
> "Harvard's tuition in 1970 was \$4,070 (not including room, board, and fees). 
In 2019 it is \$46,340.  What was the annual rate of increase over that period, treating it as if it had compounded continuously?


Did Harvard's tuition have an higher annual rate of increase than other school's? In this question, your group needs to gather data on *five* other schools, compute the annual increase for them, and compare with Harvard's. Intermix with your code an interesting narrative that explains why you are interested in those five schools, what you expected to see in their rate of increase, and what is actually seen after making the calculations. Include links to any data sources you use, and pictures as well as other markdown features to make your response visually appealing.

###Question 3 Solution
Since Harvard University is one of the most prestigious universities in US, we’ve decided to compare Harvard with other top ranking universities. According to the [U.S. News’ 2020 Best National University Rankings](https://www.usnews.com/best-colleges/rankings/national-universities), the top 6 universities, including ties, are:
1. Princeton University
2. Harvard University
3. Columbia University (tie)
4. Massachusetts Institute of Technology (tie)
5. Yale University (tie)
6. Stanford University

First and foremost, we definitely expect dramatic increase from the 1970s tuition to the current tuition. However, if we consider annual rate of increase, treating as if it had compounded continuously, each universities’ difference may not be significant. In hypothesizing how their annual tuition changed from the 1970s, we can consider various factors such as the financial status of the state the universities are located at. Since diverse factors contribute in determining the tuition cost, addition to such income status, the amount the states invest in higher education and ~ may influence the tuition change. Based on their [median household incomes](https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_income), NJ (Princeton), MA, (Harvard and MIT), CT (Yale), CA (Stanford), and NY (Columbia) are the "richest" states in the US, respectively. Based on [state support on higher education](https://sheeomain.wpengine.com/wp-content/uploads/2019/04/SHEEO_SHEF_FY18_Report.pdf), CA, NY, CT, NJ, MA, respectively supported the most. Assuming "richer" states have higher tuition and states with more fundings have lower tuition, we expected Stanford and Columbia to have the greatest annual increase and Harvard and MIT to have the lowest annaul increase.

###Harvard University
Harvard’s tuition in 1970 was $4,070 (https://www.thecrimson.com/article/2006/10/25/tuition-increase-outpaces-inflation-tuition-hikes/)

Harvard’s tuition in 2020 is $49,340. (https://handbook.fas.harvard.edu/book/tuition-and-fees)

Using the equatoion below, solve for r. 
$$V = P e^{rt}$$

$$r = \frac{\log(V/P)}{t}$$

The time (```t```) is the number of years from 1970 to the current year 2020. Plug in Harvard's tuition in 1970 and 2020 for ```P``` and ```V```.

In [ ]:
P=4070
V=49340
t=2020-1970

Now, solve for r and the percentage with the defined variables above.

In [ ]:
r=np.log(V/P)/t
r

In [ ]:
percent =r*100

In [ ]:
f"So the annual rate, compounded continuously, is {round(percent,2)}%"

Continue this process for all the colleges being calculated.

### 1st College: Princeton
Princeton's tuition in 1973 is $3,300. (https://www.nytimes.com/1973/02/19/archives/princeton-raising-tuition-again-and-it-sees-no-end-to-increases.html).

Princeton's tuition in 2020 is $50,340.  (https://www.collegedata.com/college/Princeton-University/?tab=profile-money-tab)

In [ ]:
P=3300
V=50340
t=2020-1973

In [ ]:
r=np.log(V/P)/t
r

In [ ]:
percent =r*100

In [ ]:
f"So the annual rate, compounded continuously, is {round(percent,2)}%"

###2nd College: Columbia
Columbia's tuition in 1974 was $3,370. ([https://www.nytimes.com/1985/06/01/us/college-cost-has-matched-inflation-since-74.html)

Columbia's tuition in 2020 is $54,504. (https://www.sfs.columbia.edu/content/undergraduate-20)

In [ ]:
P=3370
V=54504
t=2020-1974

In [ ]:
r=np.log(V/P)/t
r

In [ ]:
percent =r*100

In [ ]:
f"So the annual rate, compounded continuously, is {round(percent,2)}%"

###3rd College: MIT
MIT tuition in 1970 is $2500. (https://www.nytimes.com/1970/08/23/archives/mit-tuition-raised-150.html)

MIT tuition in 2020 is $53,790. (https://web.mit.edu/facts/tuition.html)

In [ ]:
P=2500
V=53970
t=2020-1970

In [ ]:
r=np.log(V/P)/t
r

In [ ]:
percent=r*100

In [ ]:
f"So the annual rate, compounded continuously, is {round(percent,2)}%"

###4th College: Yale
Yale's tuition in 1970 was $2,550. [[Yale Daily News] (https://yaledailynews.com/blog/2005/04/13/ballooning-tuition-presents-challenges/)].

In the 2020-2021 academic year, it is $57,700.  [[Yeal Website] (https://student-accounts.yale.edu/tuition-and-fees)].

In [ ]:
P=2550
V=57700
t=2020-1970

In [ ]:
r=np.log(V/P)/t
r

In [ ]:
percent = r*100

In [ ]:
f"So the annual rate, compounded continuously, is {round(percent,2)}%"

###5th College: Stanford
Stanford's tuition in 1970 was $2,400. (https://www.mercurynews.com/2010/02/09/stanford-university-tuition-room-and-board-pass-the-50000-mark-for-the-first-time/)

Stanford's tuition in 2020 is $55,473. (https://news.stanford.edu/?p=31419)

In [ ]:
P=2400
V=55473
t=2020-1970

In [ ]:
r=np.log(V/P)/t
r

In [ ]:
percent =r*100

In [ ]:
f"So the annual rate, compounded continuously, is {round(percent,2)}%"

###Among these 6 universities, Harvard University had the lowest annual rate of increase.
The order of highest annual rate of increase from the 1970s to 2020 was Stanford University, Yale University, Massachusetts Institute of Technology, Columbia University, Princeton University, and Harvard University.

## Question 4

Use Python to display the day of the week each group member was born on, e.g. Monday.

Recall, you can use Python to calculate the number of days since a date. For example, the number of days since you were born. Try this, then determine, among your group members, what is the minimum and the max number of days?

###Question 4 Solution
###Member 1:Mina Lee
Mina's Birthday is February 23, 1998.

In [ ]:
#Find Day of Birth
import pandas as pd
Mina_BD='February 23, 1998'
ML_BD=pd.Timestamp(Mina_BD)
ML_BD
ML_BD.day_name()

In [ ]:

now=pd.Timestamp.now()
now
age= now-ML_BD
age
age.days

Mina is born on Monday and 8231 days old.

###Member 2: Elizabeth Park
Elizabeth's Birthday is December 16, 1998.

In [ ]:
Elizabeth_BD='December 16, 1998'
EP_BD=pd.Timestamp(Elizabeth_BD)
EP_BD
EP_BD.day_name()

In [ ]:
now=pd.Timestamp.now()
now
age= now-EP_BD
age
age.days

Elizabeth is born on Wednesday and 7935 days old.

###Member 3: Alhassan Kenawi
Alhassan's Birthday is August 17, 1998.

In [ ]:
Alhassan_BD='August 17, 1998'
AK_BD=pd.Timestamp(Alhassan_BD)
AK_BD
AK_BD.day_name()

In [ ]:
now=pd.Timestamp.now()
now
age= now-AK_BD
age
age.days

Alhassan is born on Monday and 8056 days old.

###Member 4: Denny Kim
Denny's Birthday is May 14, 1995

In [ ]:
Denny_BD='May 14, 1995'
DK_BD=pd.Timestamp(Denny_BD)
DK_BD
DK_BD.day_name()

In [ ]:
now=pd.Timestamp.now()
now
age= now-DK_BD
age
age.days

Denny is born on Sunday and 9247 days old.

###Member 5: Ally Jin
Ally's Birthday is March 28, 2000.

In [ ]:
Ally_BD='March 28, 2000'
AJ_BD=pd.Timestamp(Ally_BD)
AJ_BD
AJ_BD.day_name()

In [ ]:
now=pd.Timestamp.now()
now
age= now-AJ_BD
age
age.days

Ally is born on Tuesday and 7467 days old.

###The minimum number of days is 7467 and the maximum number of days is 9247.

## Question 5
### Buying a house
Houses are expensive. Either many years of saved income or a loan are necessary to purchase a house.

By making calculations based around a simple model, in this problem you will explore the influence that the interest rate on mortgages (i.e. home loans) has on home prices.

#### Variables
 We will denote the interest rate on mortgages with the python variable `rate`, the purchase price of the home with the variable `purchase_price`, the amount of yearly spending/saving that a buyer can afford with the variable `house_spend`, and the amount of property taxes with the `prop_tax=(0.01)*purchase price` (which is approximately correct for Georgia).

In [ ]:
#@title Interest rate on 30 year mortgage (e.g. if 3%, enter 3)
percentage =  2#@param {type:"number"}
rate = percentage/100



#### Model
The specifics of loans for home buying vary greatly from one country to the next. For simplicity, we will base this model around home buying in the United States. Similarly, we will assume that the income of the home buyer is the [median income in the US](https://fred.stlouisfed.org/series/MEHOINUSA672N), $63,179, and that the amount `house_spend` is the [maximum usually suggested](https://www.forbes.com/sites/forbesfinancecouncil/2020/04/10/determining-what-percent-of-your-income-you-can-afford-to-spend-on-your-home/#544cda8737b0), namely 1/4 of gross income. Hence the variable `house_spend` we will fix as follows.

In [ ]:
house_spend=63179/4

###Extreme Buyer Profiles
Consider the following two extremes in the profiles of home buyers.  

#### Saver profile
The *saver* insists on buying a house in cash, without a loan. Note, interest rates will impact the saver, as you should assume they put the money they are saving towards a house purchase into a safe liquid investment that earns interest. For example, 10 year US treasuries. For simplicity, you may assume that this interest rate is the same as the rate `r` on mortgages. In reality it is lower, but they are strongly correlated.

#### Renter profile
The *renter* profile insists on buying a house with as little cash as possible. For example, they may be attempting *interest rate arbitrage*, where one invests whatever cash they have in investments which they hope will have a higher rate of return over the liftime of the home loan than the interest rate `rate` on the home loan. Or, they simply may not have the cash to spend. 
Typically, to avoid additional fees, it is necessary to make a down payment of 20% of the purchase price of the home, while the minimum down payment allowed is 5%. The loan term is most often 30 years, meaning the amount borrowed is paid back in full over 30 years, although 15 and 10 are also used by some buyers to minimize the amount paid in interest. Since the renter profile is taking borrowing to the extremes, we will assume they use a 30 year loan term.

For simplicity, we will assume in the calculations we make below that the renter profile puts 0% down towards the purchase price and borrows the purchase price at the interest rate `rate`.



#### Tasks
Use the python code we presented to answer the following questions.

1. How many years will it take for the saver profile buyer to save enough to purchase the \$312,196 home that the renter profile can afford?
2. Calculate what how many years the saver profile needs to save to be able to buy a house which is priced at the [median price for homes in Atlanta](https://www.zillow.com/atlanta-ga/home-values/).
3. What if the interest rate is 2% instead of 3%? What if it is 10% as it was in the 1980's? Repeat the calculation in the previous question with these new interest rate. Give citations for any interest rate figures you use. 
4. Suppose that a house is currently on the market with an asking price of \$725000 when the interest rate is 3%. Calculate how large `house_spend` would need to be for the renter profile buyer to be able to purchase this house.
5. Suppose interest rates suddenly climb from 3 up to 4%. Redo the calculation in 3. to see what `house_spend` needs to be under this new interest rate.
6. Suppose that suddenly interest rates drop to 2% from 4%. What can the renter afford to pay now Should the home sellers raise the asking price from \$725000 to a higher number?  

*Bonus question (1 point)*: When, historically, were the least years required for the saver profile, with a median income for the time, to buy a median priced home? When, historically, was the renter profile able to purchase the most expensive home, assuming the monthly house spend they are making is based on median income for the time as we did in our model.

##Problem 5 Solutions

--------------------------------------------------------------------------------

## 1. How many years will it take for the saver profile buyer to save enough to purchase the $312,196 home that the renter profile can afford?

The ```rate```(interest rate) is 3% and ```house_spend``` is 6319/4.

In [ ]:
percentage =  3
rate = percentage/100
house_spend=63179/4

In order to find how many years the saver profile buyer needs to purchase the house, use the *saver profile* formula that we found above: 
$$
saver\_house\_price =  house\_spend*(\frac{(1 + rate)^{time} - 1}{rate} )
$$
Rerrange the equation, setting it equal to time. 
$$
\frac{saver\_house\_price*rate}{house\_spend} + 1  = (1 + rate)^{time}
$$

$$
\log{(\frac{saver\_house\_price*rate}{house\_spend} + 1)} = time*\log{(1 + rate)}
$$

$$
time = \frac{\log{(\frac{saver\_house\_price*rate}{house\_spend} + 1)}}{\log{(1 + rate)}}
$$
**note to self: simplify?

```saver_house_price``` (the price of the house) is 312196. Using the rearranged formula, find time.

In [ ]:
time = np.log(((312196*rate)/house_spend)+ 1) / np.log(1 + rate)
time

In [ ]:
saver_house_price =  house_spend*( ((1 + rate)**time - 1) / rate )
round(saver_house_price,0)

It will take about 15.75 years (15 years and 9 months) for saver profile buyer to save enough to purcahse the $312,196 home that the renter profile can afford.

## 2. Calculate what how many years the saver profile needs to save to be able to buy a house which is priced at the median price for homes in Atlanta ($299,308).

The ```rate``` and ```house_spend``` are still 3% and 6319/4.

In [ ]:
percentage =  3
rate = percentage / 100
house_spend = 63179/4

The median price for homes in Atlanta is $299,308.

In [ ]:
median_price_atl = 299308

With the same saver profile time formula from #1, find how many years it will take for the buyer to be able to afford a house priced at $299,308.

In [ ]:
time_atl = np.log(((median_price_atl*rate)/house_spend)+ 1) / np.log(1 + rate) ##15.22784
time_atl

In [ ]:
saver_house_price =  house_spend*( ((1 + rate)**time_atl - 1) / rate )
round(saver_house_price,0)

Saver profile buyer will need to save about 15.23 years (15 years and 3 month) to be able to buy a house that is priced at $299,308 (the median price for Altanta homes).

## 3. What if the interest rate is 2% instead of 3%? What if it is 10% as it was in the 1980's? Repeat the calculation in the previous question with these new interest rate. Give citations for any interest rate figures you use.

### Interest rate of 2%

The interest rate (```rate2```) is now 2%. ```house_spend``` is still the same.

In [ ]:
##interest rate is 2%
percentage2 =  2
rate2 = percentage2 / 100
house_spend = 63179/4

#### $312,196 house:

Again, using the same time formula but with a new interest rate of 2%, calculate the amount of years needed to be able to buy the house marked at $312196.

In [ ]:
##$312196 house
time2 = np.log(((312196*rate2)/house_spend)+ 1) / np.log(1 + rate2) ##16.82206 years
time2

In [ ]:
saver_house_price2 =  house_spend*( ((1 + rate2)**time2 - 1) / rate2 )
round(saver_house_price2,0)

A saver profile buyer would need about 16.82 years (16 years and 10 months) to be able to buy a house priced at $312196.

#### Atlanta median price house ($299,308):

Using the time formula and 2% interest rate, find the number of years needed to be able to afford the house.

In [ ]:
## atl median price house
time2_atl = np.log(((median_price_atl*rate2)/house_spend)+ 1) / np.log(1 + rate2) ##16.2279624 years
time2_atl

In [ ]:
saver_house_price2_atl =  house_spend*( ((1 + rate2)**time2_atl - 1) / rate2 )
round(saver_house_price2_atl,0)

It will take about 16.23 years (16 years and 3 months) for a saver profile buyer to be able to buy the atlanta median price house.

###Interest rate: 10%

The interest rate (```rate10```) is now 10%.

In [ ]:
##interest rate is 10%
percentage10 =  10
rate10 = percentage10 / 100
house_spend = 63179/4

#### $312,196 house:

Find the number of years needed to afford the house with the formula when the interest rate is 10%.

In [ ]:
## $312198 house
time10 = np.log(((312196*rate10)/house_spend)+ 1) / np.log(1 + rate10) #11.444 years
time10

In [ ]:
saver_house_price10 =  house_spend*( ((1 + rate10)**time10 - 1) / rate10 )
round(saver_house_price10,0)

The buyer will need to save for about 11.44 years (11 years and a little over 5 months) to buy the $312,196 house.

####Atlanta median price house ($299,308):

In [ ]:
## atl median price house
time10_atl = np.log(((median_price_atl*rate10)/house_spend)+ 1) / np.log(1 + rate10) #11.1528
time10_atl

In [ ]:
saver_house_price10_atl =  house_spend*( ((1 + rate10)**time10_atl - 1) / rate10 )
round(saver_house_price10_atl,0)

With a 10% interest rate, the saving buyer will need about 11.15 years (11 years and 2 months) to be able to afford the $299,308 house.

###Interest rate: 6.16% in 2008 
Source: [FHFA Reports Mortgage Interest Rates, September 2008](https://www.fhfa.gov/Media/PublicAffairs/Pages/FHFA-Reports-Mortgage-Interest-Rates-September-2008.aspx#:~:text=Washington%2C%20D.C.%20%E2%80%93%20The%20Federal%20Housing,to%206.16%20percent%20in%20September.)

The interest rate (```rate6```) was 6.16% in 2008.

In [ ]:
##interest rate is 6.16%
percentage6 =  6.16
rate6 = 6.16/ 100
house_spend = 63179/4

####$312,198 house:

In [ ]:
## $312198 house
time6 = np.log(((312196*rate6)/house_spend)+ 1) / np.log(1 + rate6) #13.323 years
time6

With an interest rate of 6.16%, the buyer will need to save for about 13.32 years (13 years and 4 months) in order to afford the house priced at $312,198.

####Atlanta median price house ($299,308):

In [ ]:
##atl median price house
time6_atl = np.log(((median_price_atl*rate6)/house_spend)+ 1) / np.log(1 + rate6) ##12.9395 years
time6_atl

It will take the saver profile buyer about 12.94 years (12 years and a little over 11 months) to be able to buy the $299,308 house.

##4. Suppose that a house is currently on the market with an asking price of $725000 when the interest rate is 3%. Calculate how large house_spend would need to be for the renter profile buyer to be able to purchase this house.

The first step that needs to be done is to rearrange the renters formula:
 <br/>
$$
Renter\_House\_Price = \frac{Affordable\_Monthly\_Payment}{\frac{c*(1 + c)^n}{(1 + c)^n - 1}}
$$
 <br/>
 to solve for the affordable_monthly_payment variable like this:
 <br/>

$$
Affordable\_Monthly\_Payment = Renter\_House\_Price*\frac{c*(1 + c)^n}{(1 + c)^n - 1}
$$

The ```renter_house_price``` is 725000. The interest rate is 3%, and again, ```c``` is the monthly interest rate, which is equal to 0.03/12. ```n``` is the number of months of the loan term at rate ``` c ```. The loan term is 30 years, so 360 months.

In [ ]:
renter_house_price=725000
c=0.03/12
n=30*12

Now find ```affordable_monthly_payment``` with the equation solved above.

In [ ]:
affordable_monthly_payment = renter_house_price * ( (c*(1 + c)**n)/((1 + c)**n - 1))

house_spend = affordable_monthly_payment*12

Since ```affordable_monthly_payment``` is the monthly payment the buyer can afford, multiply it by 12 to get the house spend.

In [ ]:
house_spend = affordable_monthly_payment*12

In [ ]:
f"The renter profile can afford to buy this house with a house spend of ${round(house_spend,0)}"

##5. Suppose interest rates suddenly climb from 3 up to 4%. Redo the calculation in 3. to see what house_spend needs to be under this new interest rate.

The calculations are similar to the previous question. However, the interest rate is now 4%.

In [ ]:
renter_house_price=725000
c=0.04/12
n=30*12

affordable_monthly_payment = renter_house_price * ( (c*(1 + c)**n)/((1 + c)**n - 1))

house_spend = affordable_monthly_payment*12

In [ ]:
f"The renter profile can afford to buy this house with a house spend of ${round(house_spend,0)}"

## 6. Suppose that suddenly interest rates drop to 2% from 4%. What can the renter afford to pay now Should the home sellers raise the asking price from $725000 to a higher number?

First, we need to calculate `house_spend` when the `rate` is 2% using the same formula we used above.

In [ ]:
renter_house_price=725000
c=0.02/12
n=30*12

affordable_monthly_payment = renter_house_price * ( (c*(1 + c)**n)/((1 + c)**n - 1))

house_spend = affordable_monthly_payment*12

In [ ]:
f"The renter profile can afford to buy this house with a house spend of ${round(house_spend,0)} when the interest rate is 2%"

Yes, the home sellers should raise the asking price from 725,000 USD because the  interest rate decreased to 2% which makes the price relatively more affordable. Thus, there would be an increase in competition for buyers (depending on housing prices in the neighborhoud). Thus, home sellers could raise the housing prices. Also, since the `house_spend` at 2% interest is less than what it was for 3% and 4%, more buyers can enter the market for a house priced at 725,000 USD giving more reason for house-sellers to increase the asking price.